@import "_variables.scss";
.button,
.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(orange);
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all 0.5s;
    position: relative;
}

.button-orange {
    background-color: color(orange);
    color: white;
}

.button-orange::after {
    background-color: color(orange);
    color: white;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rgba(color(black), 0.6);
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
}

.button:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.button:active {
    transform: translateY(-1px);
    transform: scaleX(1.5) scaleY(1.6);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}