@import "_variables.scss";
.picnic {
    height: 30rem;
    position: relative;
    margin-top: 10rem;
}

.picnic-picture {
    height: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: all 0.2s;
}

.picnic-title {
    font-size: 2rem;
    opacity: 0;
    color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    text-transform: uppercase;
}

.picnic:hover .picnic-picture {
    filter: grayscale(90%);
}

.picnic:hover .picnic-title {
    opacity: 1;
    top: 50%;
}