@import "_variables.scss";
.mountains-parent {
    width: 3rem;
    height: 2rem;
}

.mountains {
    margin: 1rem;
    margin-top: 10rem;
    position: relative;
}

.mountain {
    position: absolute;
    height: 2rem;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
    outline-offset: 1rem;
    transition: all 0.2s;
}

.mountain:hover .mountain:not(:hover) {
    transform: scale(0.8);
    opacity: 0.6;
}

.mountain:hover {
    transform: scale(2);
    box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
    outline: 0.1rem solid red;
    z-index: 2;
}

.range1 {
    top: 2rem;
    left: 15%;
}

.range2 {
    top: 1rem;
    right: 0;
}

.range3 {
    top: -5rem;
    left: 0;
}