html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button,
.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.button-orange {
  color: white;
}

.button-orange::after {
  color: white;
}

.button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chicken {
  height: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.chicken:hover {
  border-radius: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.seasonings {
  background-image: url("./images/seasonings.png");
  background-position: center;
  font-size: 5rem;
  -webkit-background-clip: text;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.seasonings:hover {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  letter-spacing: 1rem;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mountains-parent {
  width: 3rem;
  height: 2rem;
}

.mountains {
  margin: 1rem;
  margin-top: 10rem;
  position: relative;
}

.mountain {
  position: absolute;
  height: 2rem;
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mountain:hover .mountain:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6;
}

.mountain:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid red;
  z-index: 2;
}

.range1 {
  top: 2rem;
  left: 15%;
}

.range2 {
  top: 1rem;
  right: 0;
}

.range3 {
  top: -5rem;
  left: 0;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.picnic {
  height: 30rem;
  position: relative;
  margin-top: 10rem;
}

.picnic-picture {
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.picnic-title {
  font-size: 2rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

.picnic:hover .picnic-picture {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.picnic:hover .picnic-title {
  opacity: 1;
  top: 50%;
}

.container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */