@import "_variables.scss";
@import "_button.scss";
@import "_chicken.scss";
@import "_seasonings.scss";
@import "_three-mountains.scss";
@import "_picnic.scss";

.container{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction:column;
    padding: 1rem;
    margin: 2rem auto;
    font-size: 1.5rem;
}